# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
dist-check/
dist-*/
release/
release-*/
out/

# Electron caches
.electron-cache/
.electron-builder-cache/

# Intallers
installer-build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
*.local

# Caches
.vite/
.eslintcache
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
